# Not needed after https://github.com/bazelbuild/bazel/issues/7260 is closed
build --incompatible_enable_cc_toolchain_resolution

# Enable Bzlmod for every Bazel command
common --enable_bzlmod

# Registers
common --registry=file://%workspace%/bzlmod_registery
common --registry=https://bcr.bazel.build

# clang-tidy
# Required for bazel_clang_tidy to operate as expected
build:clang-tidy --aspects @bazel_clang_tidy//clang_tidy:clang_tidy.bzl%clang_tidy_aspect
build:clang-tidy --output_groups=report
build:clang-tidy --@bazel_clang_tidy//:clang_tidy_executable=@llvm_toolchain//:clang-tidy
build:clang-tidy --@bazel_clang_tidy//:clang_tidy_config=//:clang_tidy_config

# Build and test
build --nokeep_going
test  --nokeep_going
test --test_output=errors
test --test_env=GTEST_COLOR=1

# C++17 standard
build --cxxopt=--std=c++17
test --cxxopt=--std=c++17
build --host_cxxopt=--std=c++17
build --repo_env=CC=clang
build --repo_env=CXX=clang++

# Warnings
build --cxxopt=-Wall
build --cxxopt=-Wextra
build --cxxopt=-Wpedantic

# Sanitizers
build:sanitizers --copt=-fno-omit-frame-pointer
build:sanitizers --copt=-O1
build:sanitizers --copt=-g
build:sanitizers --strip=never

build:asan --config=sanitizers
build:asan --copt -fsanitize=address
build:asan --linkopt -fsanitize=address
build:asan --test_env=ASAN_OPTIONS=color=always

build:tsan --config=sanitizers
build:tsan --copt -fsanitize=thread
build:tsan --linkopt -fsanitize=thread

build:msan --config=sanitizers
build:msan --copt=-fsanitize=memory
build:msan --linkopt=-fsanitize=memory
build:msan --test_env=MSAN_OPTIONS=color=always

build:ubsan --config=sanitizers
build:ubsan --copt=-fsanitize=undefined
build:ubsan --linkopt=-fsanitize=undefined
build:ubsan --test_env=UBSAN_OPTIONS=color=always

build:sssan --config=sanitizers
build:sssan --copt=-fsanitize=safe-stack
build:sssan --linkopt=-fsanitize=safe-stack
